<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Continents", continents_path %></li>
        <li><%= link_to "Regions", regions_path %></li>
        <li><%= link_to "Countries", countries_path %></li>
        <li><%= link_to "States", states_path %></li>
        <li><%= link_to "Counties", counties_path %></li>
      </ul>
    </div>
</nav>