<div class="nested-fields-f">
    <tr>
     <td> </td><td> </td><td> </td><td><%= f.input :name, label: 'Country: ' %></td>
     <div class="remove-country"><td><%= link_to_remove_association("Remove", f, {wrapper_class: ".nested-fields-f" }) %></td></div>
    </tr>
</div>
<div id='add-states'>
  <%= f.simple_fields_for :states do |c| %>
    <%= render 'state_fields', :f => c %>
  <% end %>
  <div id="add-state"><%= link_to_add_association 'Add State', f, :states %></div>
</div>
</div>
