<div class="nested-fields">
  <%= f.input :name, label: 'Country: ' %>
  <div class="remove-country"><%= link_to_remove_association("Remove", f) %></div>
  <div class='adding-states'>
    <%= f.simple_fields_for :states do |c| %>
      <%= render 'state_fields', :f => c %>
    <% end %>
    <%= link_to_add_association 'Add State', f, :states %>
  </div>
</div>
