<div class="nested-fields">
  <h3>Region</h3>
      <%= f.input :name  %>
      <%= f.association :continent %>
      <div class="remove-region"><%= link_to_remove_association "Remove Region", f %></div>
      <div class="adding-countries">
        <%= f.simple_fields_for :countries do |c| %>
            <%= render 'country_fields', :f => c %>
        <% end %>
        <%= link_to_add_association 'Add Country', f, :countries %>
      </div>
</div>
