<div class="nested-fields">
  <%= simple_form_for @continent do |f| %>
  <H1>Editing:  <%= @continent.name %></H1>
  <div class="adding-regions">
    <%= f.simple_fields_for :regions do |region| %>
      <%= render 'region_fields', :f => region  %>
    <% end %>
    <%= link_to_add_association 'new region', f, :regions %>
  </div>  
      <%= f.button :submit %>
  <% end %>

<p><%= link_to 'Show', @continent %> | <%= link_to 'Back', continents_path %></p>
</div>